<h2>Личный кабинет</h2>

<form method="post" action="~/Home/PC">
    <input type="hidden" value="@ViewBag.User.Id" name="userId" />

    <p>
        Имя:
        <input type="text" value="@ViewBag.User.FirstName" name="firstName" required />
    </p>

    <p>
        Фамилия:
        <input type="text" value="@ViewBag.User.LastName" name="lastName" required />
    </p>

    <p>
        Email:
        <input type="text" value="@ViewBag.User.Email" name="login" required />
    </p>

    <p>
        Пароль:
        <input type="password" value="@ViewBag.User.Password" name="password" required />
    </p>

    <button type="submit" class="btn">Сохранить</button>
</form>