
<h2>Изменение основного дохода</h2>

<form method="post" action="~/Income/ChangeRegular">
    <input type="hidden" value="@ViewBag.Income.Id" name="incomeId" />

    <p>
        Название:
        <input type="text" value="@ViewBag.Income.IncomeSource" name="source" required />
    </p>

    <p>
        Сумма аванса:
        <input type="text" value="@ViewBag.Income.PrepaidExpanse" name="prepaidExpanse" required />
    </p>

    <p>
        Дата аванса:
        <input type="date" value="@ViewBag.Income.DatePrepaidExpanse.ToString("yyyy-MM-dd")" name="datePrepaidExpanse" required />
    </p>

    <p>
        Сумма окончаловки:
        <input type="text" value="@ViewBag.Income.Salary" name="salary" required />
    </p>

    <p>
        Дата окончаловки:
        <input type="date" value="@ViewBag.Income.DateSalary.ToString("yyyy-MM-dd")" name="dateSalary" required />
    </p>

    <input type="submit" value="Сохранить" />
</form>