@using LoanPortfolio.Db.Entities

<br />
<form method="post" action="~/Income/Index">
    <input type="month" name="time" style="margin-right:5px" value="@Convert.ToDateTime(ViewBag.Time.ToString()).ToString("yyyy-MM")" />

    <button type="submit" class="btn">Поменять</button>
</form>

<div style="margin-bottom: 30px; margin-top: 30px;">
    <form action="~/Income/AddRegular">
        <div style="font-size: 2em; margin-bottom:10px">
            Основные
            <button type="submit" class="btn" style="margin-left: 5px;"><img src="~/Plus.png" style="height: 20px" /></button>
        </div>
    </form>

    <table class="table" style="margin-bottom: 0">
        <tr>
            <th>
                Название
            </th>
            <th>
                Аванс
            </th>
            <th>
                Окончательный расчет
            </th>
            <th style="width: 15%">
            </th>
        </tr>

        @{
            foreach (RegularIncome income in ViewBag.IncomesRegular)
            {
                <tr>
                    <td>
                        @{Write(income.IncomeSource);}
                    </td>
                    <td>
                        <p>Сумма: @{Write(income.PrepaidExpanse);}</p>
                        <p>Дата: @{Write(income.DatePrepaidExpanse.ToString("dd.MM.yyyy"));}</p>
                    </td>
                    <td>
                        <p>Сумма: @{Write(income.Salary);}</p>
                        <p>Дата: @{Write(income.DateSalary.ToString("dd.MM.yyyy"));}</p>
                    </td>
                    <td>
                        <div style="display: flex;">
                            <form action="~/Income/ChangeRegular/">
                                <input type="hidden" value="@income.Id" name="id" />
                                <button type="submit" class="btn" style="margin-right: 15px"><img src="~/Edit.png" style="height: 25px"/></button>
                            </form>
                            <form action="~/Income/Delete/">
                                <input type="hidden" value="@income.Id" name="id" />
                                <button type="submit" class="btn"><img src="~/Delete.png" style="height: 25px"/></button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
</div>

<div style="margin-bottom: 30px; margin-top: 30px;">

    <form action="~/Income/AddPeriod">
        <div style="font-size: 2em; margin-bottom:10px">
            Дополнительные
            <button type="submit" class="btn" style="margin-left: 5px;"><img src="~/Plus.png" style="height: 20px" /></button>
        </div>
    </form>

    <table class="table" style="margin-bottom: 0">
        <tr>
            <th>
                Название
            </th>
            <th>
                Сумма
            </th>
            <th style="width: 15%">
            </th>
        </tr>

        @{
            foreach (PeriodicIncome income in ViewBag.IncomesPeriod)
            {
                <tr>
                    <td>
                        @{Write(income.IncomeSource);}
                    </td>
                    <td>
                        Сумма: @{Write(income.Sum);}
                    </td>
                    <td>
                        <div style="display: flex;">
                            <form action="~/Income/ChangePeriod/">
                                <input type="hidden" value="@income.Id" name="id" />
                                <button type="submit" class="btn" style="margin-right: 15px"><img src="~/Edit.png" style="height: 25px" /></button>
                            </form>
                            <form action="~/Income/Delete/">
                                <input type="hidden" value="@income.Id" name="id" />
                                <button type="submit" class="btn"><img src="~/Delete.png" style="height: 25px" /></button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
</div>
