<h2>Редактирование кредита</h2>

<form method="post" action="~/CreditHistory/ChangeCredit">
    <input type="hidden" value="@ViewBag.Loan.Id" name="expenseId" />

    <p>
        Дата платежа:
        <input type="date" value="@ViewBag.Loan.ClearanceDate.ToString("yyyy-MM-dd")" name="date" />
    </p>

    <p>
        Сумма займа:
        <input type="text" value="@ViewBag.Loan.LoanSum" name="loanSum" />
    </p>

    <p>
        Сумма к погашению:
        <input type="text" value="@ViewBag.Loan.AmountDie" name="amountDie" />
    </p>

    <p>
        Срок погашения в месяцах:
        <input type="text" value="@ViewBag.Loan.RepaymentPeriod" name="repaymentPeriod" />
    </p>

    <p>
        Наименование кредитной организации:
        <input type="text" value="@ViewBag.Loan.CreditInstitutionName" name="creditInstitutionName" />
    </p>

    <p>
        Адрес банка или банкомата:
        <input type="text" value="@ViewBag.Loan.BankAddress" name="bankAddress" />
    </p>

    <input type="submit" value="Изменить" />
</form>